{% extends "base.html" %}

{% block title %} Musicians in the track list {% endblock %}

{% block content %}

<table>
 <tr><th>Musicians and their track genre</th>
  <tr><td><b>Name</b></td><td><b>Genre</b></td></tr>
 {% for name in  musician %}
    <tr><td {% ifequal name.genre 'jazz'  %} style="font-weight:bold;" {% endifequal %} 
	         {% ifequal name.genre 'rock'  %} style="font-weight:bold;" {% endifequal %}   > 
	          {{ name.name }} </td> 
	     <td> {{ name.genre }} </td>
		 </tr>
 {% endfor %}

</table>

{% endblock %}